a,a:hover{
    text-decoration: none !important;
}
.banner{
    background-image: url("../images/2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.item{
    position: absolute;
    top: 50%;
    left: 50%;
}